.navbarBtn {
    color: white;
    text-decoration: none;
}

.navbarSLB {
  width: 75px;
  height: 60px;
  margin-left: -10px;
  margin-top: 7.5px;
  object-fit: contain;
  object-position: center center;
}
.navbarSLB:hover {
  cursor: pointer;
}